@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


.grid-background {
  position: relative;
}

.grid-background::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: repeating-linear-gradient(
    0deg,
    transparent,
    transparent 80px, /* Increased from 50px to 100px */
    rgba(255, 255, 255, 0.1) 80px,
    rgba(255, 255, 255, 0.1) 81px,
    transparent 81px
  ),
  repeating-linear-gradient(
    90deg,
    transparent,
    transparent 80px, /* Increased from 50px to 100px */
    rgba(255, 255, 255, 0.1) 80px,
    rgba(255, 255, 255, 0.1) 81px,
    transparent 81px
  );
  pointer-events: none; /* Allows clicks to pass through */
}


